.container {
  font-family: Poppins;
  padding: 1.2rem;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-inline: 2rem;
  height: 80vh;
}

.heroimg {
  height: 70vh;
  width: 45vw;
}

.mainContainer_left {
  flex: 0.5;
  justify-content: center;
  align-items: center;
}

.mainContainer_right {
  flex: 0.5;
  justify-content: center;
  align-items: center;
}

.mainContainer_left > p:nth-child(1) {
  font-size: 2.9rem;
  background: linear-gradient(90deg, #000000, #9d9d9d );
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: animationHomeHeading 3s linear infinite;
}

@keyframes animationHomeHeading {
  0% {
    background-position: 0% 50%; 
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.mainContainer_left > p:nth-child(2) {
  color: #4d4d4d;
  font-size: 1.7rem;
}

.mainContainer_left > div.buttonJoin {
  width: fit-content;
  cursor: pointer;
  user-select: none;
  transition: all 0.2;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  background: rgb(197, 44, 208);
  color: #fff;
  padding-inline: 1.2rem;
  padding-block: 0.6rem;
  border-radius: 20px;
}