.container {
    padding: 1.2rem;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBarOption {
    display: flex;
}

.buttonJoin {
    background: #cd8987;
    border-radius: 10px;
    padding-block: 0.6rem;
    padding-inline: 1.2rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}